* {
    margin: 0;
    padding: 0;
}


/*above is settings that apply to all code we have*/

body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*same as above*/
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(68, 0, 255);
}

a:active {
    color: green;
}

a:visited {
    color: rgb(241, 16, 16);
}

.container {
    width: 80%;
    margin: auto;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.box-1 {
    background-color: #333333;
    color: white;
    /*#ffffff */
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /*same as above*/
    border: 5px red solid;
    border-left-style: dotted;
    padding: 20px blue solid;
    margin: 20px;
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    padding-left: 20px;
    list-style: upper-latin;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.MYform {
    padding: 20px;
}

.MYform.form-group {
    padding-bottom: 15px;
}

.MYform label {
    display: block;
}

.MYform input[type=text],
.MYform textarea {
    padding: 80px;
    width: 100%;
}